{% extends 'layout.html' %}
{% block body%}

<h2>About the development Team</h2>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-3">
					<div class="card">
						<div class="card-body">
							<p class="card-text" style="text-align:center">
								<img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" />
							</p>
						</div>
						<div class="card-footer">
              <p class="text-blue-about" style="text-align:center"> 
                Carlos Cardona
              </p>
              <p class="text-black2">
                Brief description
              </p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card">
						<div class="card-body">
							<p class="card-text" style="text-align:center">
								<img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" />
							</p>
						</div>
						<div class="card-footer">
              <p class="text-blue-about" style="text-align:center"> 
                David Cortés Murcia
              </p>
              <p class="text-black2">
                Brief description
              </p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card">
						<div class="card-body">
							<p class="card-text" style="text-align:center">
								<img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" />
							</p>
						</div>
						<div class="card-footer">
              <p class="text-blue-about" style="text-align:center"> 
                José Parra Montoya
              </p>
              <p class="text-black2">
                Brief description
              </p>
						</div>
					</div>
				</div>
        <div class="col-md-3">
					<div class="card">
						<div class="card-body">
							<p class="card-text" style="text-align:center">
								<img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" />
							</p>
						</div>
						<div class="card-footer">
              <p class="text-blue-about" style="text-align:center"> 
                Julián Egas Daza
              </p>
              <p class="text-black2">
                Brief description
              </p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
        <div class="col-md-3">
					<div class="card">
						<div class="card-body">
							<p class="card-text" style="text-align:center">
								<img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" />
							</p>
						</div>
						<div class="card-footer">
              <p class="text-blue-about" style="text-align:center"> 
                Laura Ocampo Ramírez
              </p>
              <p class="text-black2">
                Brief description
              </p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card">
						<div class="card-body">
							<p class="card-text" style="text-align:center">
								<img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" />
							</p>
						</div>
						<div class="card-footer">
              <p class="text-blue-about" style="text-align:center"> 
                Santiago Tellez Cañas
              </p>
              <p class="text-black2">
                Brief description
              </p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card">
						<div class="card-body">
							<p class="card-text" style="text-align:center">
								<img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" />
							</p>
						</div>
						<div class="card-footer">
              <p class="text-blue-about" style="text-align:center"> 
                Vatsaid Molano Castro
              </p>
              <p class="text-black2">
                Brief description
              </p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<p class="text-black1">
				Data Science for All is a program offers a unique opportunity to learn data science from the world’s foremost experts.
			</p>
			<p>
				<a class="btn" href="#">View details »</a>
			</p>
		</div>
	</div>
</div>


{% endblock %}
