{% extends 'layout.html' %}
{% block body%}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
            <div class="container">
                <img src="{{ url_for('static', filename='img/Rionegro_Turismo.jpg') }}"  alt="Rionegro" style="width:100%;">
                <div class="top-centered">
                    <h1 style="color:white">
                        RIONEGRO
                    </h1>
                </div>
                <div class="text-block">
                        Rionegro is a city and municipality in Antioquia Department, Colombia, located in the sub-region of Eastern Antioquia, which is really interested in understand how their tax collection will behave.
                </div>
            </div>
			<div class="row">
				<div class="col-md-5">
					<p class="text-blue">
						But understanding how Rionegro municipal governments collects tax money shouldn’t be difficult.
                    </p>
					<p class="text-black1">
                    This powerful visualization tool gives you an unprecedented look into municipal government tax collection. Tabular data, charts and graphs will help researchers and policymakers see and understand government data with new perspectives. The tool provides different viewing options, including:
                    </p>
				</div>
				<div class="col-md-7">
					<p class="text-black2">
						<span class="text-red">Overview –</span> Get a quick view of how will next year’s revenue for each tax and for each one of the most important categories.
                    </p>
                    <p class="text-black2">                             
                        <span class="text-red">Geographical Analysis –</span> Select and compare the tax collection in the different geographical zones within the municipality
                    </p>
                    <p class="text-black2">                          
                        <span class="text-red">Detailed Forecast –</span> Review individual payments, transaction dates, Comptroller object codes and more.
                    </p>
                    <p class="text-black2">                         
                        <span class="text-red">Evasion and Avoidance Analysis –</span> Analysis the probability that your taxpayers make its contribution to the municipality.
                    </p>
                    <p class="text-black2">                          
                        <span class="text-red">About the development Team –</span> Take a look of the team that make this possible.
                    </p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}